@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Zen+Loop&display=swap');

* 
{
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
}
.wrapper
{
    display: block;
    width: 75%;
    margin: 0 auto;
}

.wrapper > .header 
{
    /* padding: 0 10px 50px 10px; */
    margin: 0 auto;
    padding-top: 0;
    padding-left: 10px;
    padding-bottom: 50px;
    padding-right: 10px;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
}
.wrapper > .header  h1 
{
    max-width: 50rem;
    margin: 0 auto;
    font-size: 6rem;
    line-height: 6rem; 
    font-weight: 800;
    margin-bottom: 25px;
}
.wrapper > .header  p 
{
    max-width: 38rem;
    margin: 0 auto;
    font-size: 2rem;
    line-height: 2rem; 
    font-weight: 400;
}
.content
{
    display: block;
    width: 100%;
    margin-top: 30px; 
    position: relative;
}
.list
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30%;
}
.list .item {
    padding: 0px 10px 20px;
    position: relative;
}
.list .item p.name
{
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    line-height: 1em;
    margin-bottom: 10px;
    padding-left: 20px;
}
.list .item p.desc
{
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    line-height: 1em;
    padding-left: 20px;
}
.list .item p > a 
{
    margin-left: 20px;
    text-decoration: none;
    color: gray;
}
.list .item p > a:hover
{
    color: tomato;
}
.list .item.onselected .desc
{
    display: none;
}
.list .item.onselected::after
{
    position: absolute;
    top: 8px;
    left: -12px;
    display: block;
    width: 6px;
    height: 6px;
    content: "";
    background-color: tomato;
    border-radius:  50%;
    opacity: 0.5;
}
.list .item.onselected::before
{
    position: absolute;
    top: 0;
    left: -20px;
    display: block;
    width: 20px;
    height: 20px;
    content: "";
    border: 1px solid tomato;
    border-radius:  50%;
    opacity: 0.5;
}
.list .item.onselected:hover
{
    cursor: pointer;
}
.list .item.onselected:hover::after
{
   opacity: 1;    
}
.list .item.selected::after
{
    position: absolute;
    top: 0px;
    left: -20px;
    display: block;
    width: 20px;
    height: 20px;
    content: "";
    background-color: tomato;
    border-radius:  50%;
}
.list .item img 
{
    display: none;
}
.list .item.selected > .desc 
{
    transition: display 2s ease-in;
}
.list .item span
{
    height: 0%;
}
.list .item span.active
{
    position: absolute;
    top: 20px;
    left: -10px;
    display: block;
    width: 1px;
    height: calc(100% - 20px);
    background-color: tomato;
    transition: height .2s ease-in;
}
.content .view{
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    width: 70%;
    height:300px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 10px;
}
.content .view img
{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

@media only screen
and (max-device-width: 990px)
and (-webkit-min-device-pixel-ratio: 2) {

.wrapper
{
    display: block;
    width: 100%;
    margin: 0 auto;
}

.wrapper > .header 
{
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
}
.content
{
    display: block;
}
.list
{
    width: 100%;
}
.item
{
    padding: 10px;
}
.list .item p.name
{
    font-weight: bold;
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
    line-height: 1em;
    margin-bottom: 0px;
    padding: 20px 0px;
    text-align: center;
    background: tomato;
}
.list .item p.desc
{
    display: block;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
    padding-left: 20px;
    text-align: center;
    padding: 20px 0px;
    background: tomato;
}
.list .item img
{
    display: block;
    width: 100%;
}
.content .view
{
    display: none;
}
}